body {
    background-color : aqua;
}

.header {
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 512px;
    height: 512px;
    border: 1px solid black;
}

.square {
    background-color: white;
}

.menu {
    max-width: 512px;
    display: flex;
    justify-content: space-between;
}

#changed {
    background-color: black;
}




